@import "../../variable.scss";

section.uncompleted {
  ul {
    li {
      span {
        color: $colorGrey;
        cursor: pointer;
      }
      span:first-of-type {
        margin-right: 3rem;
      }
      .trash {
        margin-left: auto;
      }
      .toggled {
        color: $colorGreen;
      }
      .untoggled {
        color: $colorGrey;
      }
    }
  }
}
